body {
    background: gray;
}

.calculator {
    width: 400px;
    height: 550px;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.display {
    height: 100px;
    padding: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.former-number {
    align-self: flex-end;
}

.current-number {
    font-size: 40px;
    align-self: flex-end;
    height: 43px;
}

.number-pad {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 5px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
    display: flex;
    flex-grow: 1;
    gap: 5px;
}

button {
    width: 100%;
    font-size: 20px;
    padding: 10px;
}