body {
    background: #e3dec8;
    font-family: 'Press Start 2P', sans-serif;
    text-align: center;
}

.calculator {
    background: #99beb7;
    width: 400px;
    height: 550px;
    margin: 20px auto;
    display: flex;
    box-shadow: 15px 15px;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.display {
    height: 100px;
    padding: 10px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.former-number,
.current-number {
    padding: 5px;
    align-self: flex-end;
}

.current-number {
    font-size: 40px;
    height: 43px;
}

.number-pad {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
}

.first-row,
.second-row,
.third-row,
.fourth-row,
.fifth-row,
.sixth-row {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

button {
    font-family: 'Press Start 2P', sans-serif;
    width: 100%;
    font-size: 20px;
    padding: 10px;
    background: #f2c665;
    border: 1px solid #b58c33;
    box-shadow: 3px 3px #000;
    border: 0;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

button:active {
    transform: translateY(3px) translateZ(3px);
}

.clear,
.delete {
    background-color: #ef7546;
}

.operator {
    background-color: #ca3c4a;
}